@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.container {
  display: flex;
  justify-content: space-between;
  min-height: 100vh;
  padding: 10px 20px;
  gap: 5px;
  margin: 0 24px;
}

.row {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.nav__bar {
  display: flex;
  justify-content: space-between;
}

.nav__container {
  display: flex;
  align-items: center;
  gap: 12px;
  margin: 20px 30px;
}

.logo__img {
  height: 40px;
  width: auto;
}

.nav__links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
  margin: 20px 30px;
}

.nav__link {
  color: black;
  text-decoration: none;
  gap: 12px;
}

li {
  list-style-type: none;
  margin: auto;
}

.logo__name {
  font-size: 20px;
}

.nav__btn {
  display: flex;
  align-items: center;
  gap: 12px;
}

.login_btn {
  margin-left: 20px;
}

.signup__btn {
  background-color: #6415ff;
  padding: 10px 20px;
  margin: auto;
  border-radius: 20px;
  border: none;
}

.signup__link {
  color: white;
  text-decoration: none;
}

.logo__name {
  font-weight: 800;
}

.purple {
  color: #6415ff;
}

/*

LANDING

*/

.illustration,
.info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  height: 100%;
  margin: 0 48px;
}

.illustration {
  flex: 0 0 40%;
}

.landing__img--wrapper,
.info__img--wrapper,
.steps__img--wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 48px;
}

.landing__img,
.info__img {
  width: 100%;
  height: auto;
  display: block;
  flex: 0 0 60%;
}

.company__logo {
  max-width: 100%;
}

.section__title {
  font-size: 50px;
  margin: 25px 0;
}

.section__title--description {
  align-items: flex-start;
  font-size: 17px;
  margin-bottom: 17px;
  line-height: 1.5;
}

.input__container {
  display: flex;
  align-items: center;
  margin-bottom: 17px;
  border: solid 1px #6415ff;
  border-radius: 20px;
  padding: 2px;
  width: 83%;
}

input {
  border: none;
  border-radius: 4px;
  margin-left: 12px;
}

.signup__btn__landing {
  display: flex;
  margin-left: 120px;
}

.company__logo-strip {
  display: flex;
}

.company__wrapper {
  display: flex;
  flex-direction: column;
}

.company__description {
  margin-bottom: 12px;
  color: gray;
  font-size: 10px;
}

.company__wrapper {
  display: flex;
  flex-direction: column;
  margin-top: 70px;
}

/*

FEATURES

*/

.narrow {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.section__title--header,
.section__title--subheader {
  display: flex;
  font-size: 16px;
  margin-top: 100px;
  font-weight: 800;
  font-size: 15px;
}

.section__title--subtitle {
  display: flex;
  justify-content: center;
  font-size: 50px;
  margin: 16px 0;
}

.section__title--para {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: space-between;
  font-size: 15px;
  padding: 4px 12px; 
  margin: 0 auto;
  max-width: 450px;
  margin-top: 14px;
  margin-bottom: 14px;
  color: rgb(83, 80, 80);
}

.fa-shield {
  margin: 0;
}

.services {
  display: flex;
  flex-wrap: wrap;
  margin: 0 200px 0 200px;
}

.service {
  display: flex;
  width: calc(100% / 3);
  gap: 12px;
  padding: 24px;
  max-width: 380px;
}

.icon-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  color: #6415ff;
  padding: 18px;
  font-size: 20px;
  margin-top: 10px;
  border: 1px solid rgba(128, 128, 128, 0.5);
  border-radius: 50%;
}

.service__description--container {
  display: flex;
  flex-direction: column;
  padding: 8px;
}

.service__description {
  font-size: 20px;
}

.service__description--para {
  width: 100%;
  font-size: 12px;
  line-height: 2.2;
  margin-top: 7px;
  color: rgb(83, 80, 80);
}

/*

INFORMATION

*/

.even {
  flex: 0 0 50%;
}

.info__img {
  display: flex;
  border: 1px solid rgba(128, 128, 128, 0.215);
  border-radius: 4px;
  margin-top: 30px;
}

/*

STEPS

*/

.steps__img {
  display: flex;
  flex: 0 0 50%;
  max-width: 100%;
  margin-top: 100px;
}

.steps {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.step {
  display: flex;
}

.step__number {
  display: flex;
  flex-direction: center;
 justify-content: flex-start;
  margin: 12px 0;
  padding: 8px;
  font-size: 30px;
  color: rgba(0, 0, 0, 0.155);
}

.step__description--wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 360px;
  margin: 12px;
  padding: 8px;
}

.step__description {
  font-weight: 800;
  font-size: 17px;
}

.step__description--para {
  color: rgba(0, 0, 0, 0.734);
  font-size: 12px;
  line-height: 1.5;
  margin-top: 7px;
}

.section__title--subheader {
  display: flex;
  justify-content: center;
}